APACHE SPARK : 100 times faster than Map-reduce .
- Fast and general purpose cluster computing system.

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
#import pandas
#Direct uploading from local disk
from google.colab import files
import pandas as pd

# Upload file from your computer
uploaded = files.upload()

# Load the CSV (replace 'filename.csv' with your actual filename)
df = pd.read_csv('Salary_Data.csv')

Saving Salary_Data.csv to Salary_Data.csv

In [4]:
df.shape

(30, 2)

### Start spark session

In [5]:
#1. start spark session
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate() #spark session is created and name is given 'Practice'

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('Salary_Data.csv')

In [9]:
df_pyspark.show()

+---------------+--------+
|            _c0|     _c1|
+---------------+--------+
|YearsExperience|  Salary|
|            1.1|39343.00|
|            1.3|46205.00|
|            1.5|37731.00|
|            2.0|43525.00|
|            2.2|39891.00|
|            2.9|56642.00|
|            3.0|60150.00|
|            3.2|54445.00|
|            3.2|64445.00|
|            3.7|57189.00|
|            3.9|63218.00|
|            4.0|55794.00|
|            4.0|56957.00|
|            4.1|57081.00|
|            4.5|61111.00|
|            4.9|67938.00|
|            5.1|66029.00|
|            5.3|83088.00|
|            5.9|81363.00|
+---------------+--------+
only showing top 20 rows

### I want my column name as column head

In [10]:
spark.read.option('header','true').csv('Salary_Data.csv')

DataFrame[YearsExperience: string, Salary: string]

In [11]:
spark.read.option('header','true').csv('Salary_Data.csv').show()

+---------------+--------+
|YearsExperience|  Salary|
+---------------+--------+
|            1.1|39343.00|
|            1.3|46205.00|
|            1.5|37731.00|
|            2.0|43525.00|
|            2.2|39891.00|
|            2.9|56642.00|
|            3.0|60150.00|
|            3.2|54445.00|
|            3.2|64445.00|
|            3.7|57189.00|
|            3.9|63218.00|
|            4.0|55794.00|
|            4.0|56957.00|
|            4.1|57081.00|
|            4.5|61111.00|
|            4.9|67938.00|
|            5.1|66029.00|
|            5.3|83088.00|
|            5.9|81363.00|
|            6.0|93940.00|
+---------------+--------+
only showing top 20 rows

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(3)

[Row(_c0='YearsExperience', _c1='Salary'),
 Row(_c0='1.1', _c1='39343.00'),
 Row(_c0='1.3', _c1='46205.00')]

In [14]:
df_pyspark.printSchema() # same as  df.info

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

### DATA Exploration & Manipulation using pyspark

In [15]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate() #spark session is created and this time name is given 'Dataframe'

In [16]:
#read dataset
df_pyspark = spark.read.option('header','true').csv('Salary_Data.csv',inferSchema=True) # without inferschema pyspark will take each couln type as string

In [17]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [18]:
df_pyspark.printSchema()

root
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.columns  #display columns

['YearsExperience', 'Salary']

In [21]:
df_pyspark.head(3)

[Row(YearsExperience=1.1, Salary=39343.0),
 Row(YearsExperience=1.3, Salary=46205.0),
 Row(YearsExperience=1.5, Salary=37731.0)]

In [22]:
#to pick up only one column say 'YearsExperience'
df_pyspark.select('YearsExperience').show()

+---------------+
|YearsExperience|
+---------------+
|            1.1|
|            1.3|
|            1.5|
|            2.0|
|            2.2|
|            2.9|
|            3.0|
|            3.2|
|            3.2|
|            3.7|
|            3.9|
|            4.0|
|            4.0|
|            4.1|
|            4.5|
|            4.9|
|            5.1|
|            5.3|
|            5.9|
|            6.0|
+---------------+
only showing top 20 rows

In [23]:
df_pyspark.select(['YearsExperience' , 'Salary']).show() #to show multiple column list the names

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [24]:
df_pyspark.select( : , :-1).show() #slicing doesnot work unlike pandas

SyntaxError: invalid syntax (ipython-input-1962586031.py, line 1)

In [25]:
type(df_pyspark.select(['YearsExperience' , 'Salary']))

pyspark.sql.dataframe.DataFrame

In [26]:
#check data types
df_pyspark.dtypes

[('YearsExperience', 'double'), ('Salary', 'double')]

In [29]:
#summary
df_pyspark.describe().show()

+-------+------------------+------------------+
|summary|   YearsExperience|            Salary|
+-------+------------------+------------------+
|  count|                30|                30|
|   mean|5.3133333333333335|           76003.0|
| stddev| 2.837888157662718|27414.429784582302|
|    min|               1.1|           37731.0|
|    max|              10.5|          122391.0|
+-------+------------------+------------------+

In [30]:
#Adding columns
df_pyspark = df_pyspark.withColumn('Experience after 2 years' , df_pyspark['YearsExperience']+2)
#add new column 'Experience after 2 years' which value is ['YearsExperience']+2
#it is not inplace operation

In [31]:
df_pyspark.show()

+---------------+-------+------------------------+
|YearsExperience| Salary|Experience after 2 years|
+---------------+-------+------------------------+
|            1.1|39343.0|                     3.1|
|            1.3|46205.0|                     3.3|
|            1.5|37731.0|                     3.5|
|            2.0|43525.0|                     4.0|
|            2.2|39891.0|                     4.2|
|            2.9|56642.0|                     4.9|
|            3.0|60150.0|                     5.0|
|            3.2|54445.0|                     5.2|
|            3.2|64445.0|                     5.2|
|            3.7|57189.0|                     5.7|
|            3.9|63218.0|                     5.9|
|            4.0|55794.0|                     6.0|
|            4.0|56957.0|                     6.0|
|            4.1|57081.0|                     6.1|
|            4.5|61111.0|                     6.5|
|            4.9|67938.0|                     6.9|
|            5.1|66029.0|                     7.1|
|            5.3|83088.0|                     7.3|
|            5.9|81363.0|                     7.9|
|            6.0|93940.0|                     8.0|
+---------------+-------+------------------------+
only showing top 20 rows

In [32]:
df_pyspark

DataFrame[YearsExperience: double, Salary: double, Experience after 2 years: double]

In [33]:
#Drop the column
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [34]:
df_pyspark

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

In [36]:
#rename the column
df_pyspark.withColumnRenamed('YearsExperience' , 'Experience') #it replace the column name 'YearsExperience' with 'Experience'

DataFrame[Experience: double, Salary: double]

In [37]:
df_pyspark.show()

+---------------+-------+
|YearsExperience| Salary|
+---------------+-------+
|            1.1|39343.0|
|            1.3|46205.0|
|            1.5|37731.0|
|            2.0|43525.0|
|            2.2|39891.0|
|            2.9|56642.0|
|            3.0|60150.0|
|            3.2|54445.0|
|            3.2|64445.0|
|            3.7|57189.0|
|            3.9|63218.0|
|            4.0|55794.0|
|            4.0|56957.0|
|            4.1|57081.0|
|            4.5|61111.0|
|            4.9|67938.0|
|            5.1|66029.0|
|            5.3|83088.0|
|            5.9|81363.0|
|            6.0|93940.0|
+---------------+-------+
only showing top 20 rows

### Pyspark Handling Missing values
- Dropping columns
- Dropping rows
- various parameters in dropping functionalities
- Handling Missing values by Mean , Median and Mode

In [ ]:
#similar to imputer function in sklearn
#/content/py_spark_missing_values.csv'

In [47]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [52]:
df_pyspark = spark.read.csv('/content/py_spark_missing_values.csv' , header=True , inferSchema=True)

In [81]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [54]:
#column name
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [55]:
# drop those rows where ever null values present
df_pyspark.na.drop().show() #even if one null in records drop that record

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [56]:
###any=how
df_pyspark.na.drop(how='all').show() #drops record if all values are null

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [57]:
#threshold
df_pyspark.na.drop(how='any' , thresh=2).show()
#atleas two not null values should be there to keep that row ,else delete that row

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [58]:
#subset
df_pyspark.na.drop(how='any' , subset=['product_id']).show() #i just want to drop NaN or null  value in Age column can be used for primary keys

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `product_id` cannot be resolved. Did you mean one of the following? [`Name`, `age`, `Experience`, `Salary`].

### Handling Missing values

In [65]:
#fiiling the missing value
df_filled = df_pyspark.na.fill({
    "Experience": 0,   # replace NULL with 0 years
    "age": -1  ,      # replace NULL with -1 (flag for missing)

})


df_filled.show()


#If you want to keep numeric columns numeric (recommended for ML, stats, etc.)

#Fill with default numbers instead of strings:

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| -1|         0| 40000|
|     NULL| 34|        10| 38000|
|     NULL| 36|         0|  NULL|
+---------+---+----------+------+

In [66]:
# replace missing values with mean of that columns
#imputer function
from pyspark.ml.feature import Imputer
# Suppose your DataFrame is df_pyspark with columns: "age", "Experience"

# Create an Imputer object
imputer = Imputer(
    inputCols=["age", "Experience"],     # columns with missing values
    outputCols=["age_imputed", "Experience_imputed"]  # new columns with imputed values
).setStrategy("mean")  # can also use "median"

# Fit the imputer model and transform the DataFrame
df_imputed = imputer.fit(df_pyspark).transform(df_pyspark)

df_imputed.show()

+---------+----+----------+------+-----------+------------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|
+---------+----+----------+------+-----------+------------------+
|    Krish|  31|        10| 30000|         31|                10|
|Sudhanshu|  30|         8| 25000|         30|                 8|
|    Sunny|  29|         4| 20000|         29|                 4|
|     Paul|  24|         3| 20000|         24|                 3|
|   Harsha|  21|         1| 15000|         21|                 1|
|  Shubham|  23|         2| 18000|         23|                 2|
|   Mahesh|NULL|      NULL| 40000|         28|                 5|
|     NULL|  34|        10| 38000|         34|                10|
|     NULL|  36|      NULL|  NULL|         36|                 5|
+---------+----+----------+------+-----------+------------------+

### FilTer operations
- &  ,  |  ,**bold text**  ==
- ~

In [ ]:
##'/content/test1.csv'

In [67]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [68]:
df_pyspark = spark.read.csv('/content/test1.csv' , header=True , inferSchema=True)

In [69]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [70]:
#salary of people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show() #the column name is case sensitive

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [71]:
df_pyspark.filter('Salary<=20000').select(['Name' , 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [72]:
df_pyspark.filter('Salary<=20000').select(['Name' , 'age' , 'Experience']).show()

+-------+---+----------+
|   Name|age|Experience|
+-------+---+----------+
|  Sunny| 29|         4|
|   Paul| 24|         3|
| Harsha| 21|         1|
|Shubham| 23|         2|
+-------+---+----------+

In [75]:
df_pyspark.filter( (df_pyspark['Salary']<=20000) &
                   (df_pyspark['age']<=25) ).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [80]:
#salaray NOT less than equal to , simply use ~
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).select(['Name' , 'age' , 'Experience']).show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
+---------+---+----------+

## Group by and aggregate function

In [ ]:
##